body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

/* ============================
Navbar section 
============================ */
.sticky-top{
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(16px);
    .navbar-brand{
        font-size: 2rem;
        font-weight: 900;
    }

    .navbar-nav .nav-link {
  position: relative;
  color: #fff;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #0d6efd;
  left: 50%;
  bottom: 0;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}



/* =========================
Contact Section 
========================= */
.contact-section {
  background-color: #ffffff;
}

.section-title {
  font-weight: 700;
}

.section-subtitle {
  color: #6c757d;
}

.card {
  border: none;
  border-radius: 8px;
}

.map-responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
}